<!DOCTYPE html>
<html lang="en">
<div class="topnav">
  <a class="active" href="{{url_for('home')}}">Home</a>

  <a href="{{url_for('chat')}}">Chat ♥!</a>

</div>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chatbot</title>

    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type='text/css' href="{{url_for('static',filename='covid.css')}}">
</head>

<body>

    <section class="wrapper">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        </div>
    </section>
</body>

<body>
    <div class="container">
    </div>

</body>

<head>
</head>
<br>
<br>
  <form action="{{ url_for('chatbottest') }}" method="post">
<div class="form__group" >
  <input type="text"  class="form__input"  id="name"  name="val" placeholder="Type" required="" />
  <label for="name" class="form__label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;typing...</label>
</div>







        </form>

        <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp  <button style="background-color: #4CAF50; border: none;color: white;  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;"><a href="{{url_for('chat')}}">Back to Chat</a></button>

<br>
<p>
    <div class="login-box">
    <div class="color">
Research indicates that children and adolescents are just as likely to become infected as any other age group and can spread the disease.
<br>
When grocery shopping, keep at least 1-metre distance from others and avoid touching your eyes, mouth and nose. If possible, sanitize the handles of shopping trolleys or baskets before shopping. Once home, wash your hands thoroughly and also after handling and storing your purchased products.
<br>
There is currently no confirmed case of COVID-19 transmitted through food or food packaging.
<br>
Also Fruits and vegetables are important components of a healthy diet. Wash them the same way you should do under any circumstance: before handling them, wash your hands with soap and water. Then, wash fruits and vegetables thoroughly with clean water, especially if you eat them raw.
</p>

</div>
</div>


</html>
