<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>diet plan</title>

    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type='text/css' href="{{url_for('static',filename='type5.css')}}">
</head>

<body>
    <section class="wrapper">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        </div>
    </section>
</body>

<body>
    <div class="container">
        <img src="{{url_for('static', filename='es.jpg')}}" width="1000" height="300">
    </div>

</body>

<head>
  <link rel="stylesheet" type='text/css' href="{{url_for('static',filename='type5.css')}}">
</head>

<body>
    <div class="login-box">

        <h2></h2>
        <form>
            <p>
                <div class="color">
                    You are consuming high fat rich food.

                </div>
                Please try to avoid them. Consume unsaturated fats (e.g. found in fish, avocado, nuts, olive oil, soy, canola, sunflower and corn oils) rather than saturated fats (e.g. found in fatty meat, butter, palm and coconut oils, cream, cheese, ghee and lard).It's generally important to maintain proper fat level (not only during COVID quarantine).
                You are maintaining a bad level of magnesium, please consume more leafy greens ,legumes etc..,
                Your Zinc content is well bad. Please improve eating seeds, nuts, cashews.<br><br>
                <img src="{{url_for('static', filename='greens.jpg')}}" alt="" style="height:500px" style="width:200px" style="horizontal-align:middle"><br>

                <h2>LIMIT THE SUGAR CONTENT</h2>
                You are maintaining a good content. If you crave something sweet,
                fresh fruit should always be the priority. Frozen fruits, canned fruits
                in juice rather than syrup, and dried fruits with no added sugar are also
                good options. Its really easy to follow a diet plan. Surely nothing is
                 greater than will power.<br><br>
                 <img src="{{url_for('static', filename='juice.jpg')}}" alt="" style="height:500px" style="width:200px" style="horizontal-align:middle"><br>

                <h2>LIMIT YOUR SALT INTAKE</h2>
                WHO recommends consuming less than 5 g of salt per day. In order to
                achieve this, prioritize foods with reduced or no added salt. You may also
                consider rinsing canned foods such as vegetables and beans, to remove some of
                 the excess sodium.<br><br>

                   <h2>  STAY HYDRATED</h2>
                You are maintaining a normal hydration level. Try to improve the same.
                Water is essential for life. It transports nutrients and compounds in blood, regulates your body temperature, gets rid of waste, and lubricates and cushions joints.
                Also eat fruits like cucumber, citrus fruits which have good water content.<br><br>
                <img src="{{url_for('static', filename='citrus.jpg')}}" alt="" style="height:500px" style="width:200px" style="horizontal-align:middle"><br>
                DAILY PLAN:
                •	Drink 2-3 litres of water<br><br>
                •	Consume whole wheat bread, milk<br><br>
                <img src="{{url_for('static', filename='milk.jpg')}}" alt="" style="height:500px" style="width:200px" style="horizontal-align:middle"><br>
                •	Eat more fibre rich food.<br><br>
                •	Eat 2-3 cups of vegetables<br><br>
                •	Eat fruits, vegetables, legumes (e.g. lentils, beans),
                nuts and whole grains (e.g. unprocessed maize, millet, oats, wheat,
                 brown rice or starchy tubers or roots such as potato, yam, taro or cassava),
                 and foods from animal sources (e.g. meat, fish, eggs and milk).<br><br>
                 <img src="{{url_for('static', filename='egg.jpg')}}" alt="" style="height:500px" style="width:200px" style="horizontal-align:middle"><br>
                •	Do not overcook vegetables and fruit as this can lead to the loss
                of important vitamins.<br><br>
                •	Add spices such as ginger, garlic , turmeric in soups,
                salads, stir-frys etc..,<br><br>
                •	Need to consume more green veggies like spinach, coriander etc..,<br><br>
                <img src="{{url_for('static', filename='veg.jpg')}}" alt="" style="height:500px" style="width:200px" style="horizontal-align:middle"><br>
                •	Avoid industrially produced trans fats. These are often found in
                processed food, fast food, snack food, fried food, frozen pizza, pies, cookies,
                 margarines and spreads.<br><br>
                •	Avoid processed meats because they are high in fat and salt.<br><br>
                •	Consume handful of nuts like cashew, almonds etc..,<br><br>
                •	Say no to Alcohol, as it makes the mind unsteady and Alcohol also
                 makes certain medications less effective, while increasing the potency
                  and toxicity of others. <br><br>





                </p>





        </form>
        <br>
        <button  style="background-color: #4CAF50; border: none;color: white;  padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;"><a href="{{url_for('chat')}}">Back to Chat</a></button>


    </div>

</body>

</html>
