* {
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url("diet2.jpg");
    background-size: 1550px;
    height: 100%;
    width: 100%;
}

#regForm {
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 60%;
    min-width: 300px;
    background: rgba(0, 0, 0, 0.795);
    color: white;
}

h1 {
    text-align: center;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}


/* Mark input boxes that gets an error on validation: */

input.invalid {
    background-color: black;
}


/* Hide all steps by default: */

.tab {
    display: none;
}

button {
    background-color: #4CAF50;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}


/* Make circles that indicate the steps of the form: */

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}


/* Mark the steps that are finished and valid: */

.step.finish {
    background-color: #4CAF50;
}

#nname {
    padding: 10px;
    color: black;
    background: white;
    -webkit-appearance: none;
    width: 100%;
}